.banner {
    border-radius: 0px 0px 80% 0px;
}

.contact {
    border-radius: 40% 0% 0px 0px;
}


@media screen and (max-width: 480px) {
    .banner {
        border-radius: 0px 0px 30% 0px;
    }

    .contact {
        border-radius: 20% 0% 0px 0px;
    }
}