@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Li Shorif Jonota';
  background-color: #E5E8EF;
}

@font-face {
  font-family: 'Li Shorif Jonota';
  src: local('Li Shorif Jonota'), url(./fonts/ShorifJonotaUnicode.woff) format('woff');
}

h1,
h2,
h3,
p {
  font-family: 'Li Shorif Jonota';
}